<form class="flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>

        <section class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'SRD35E.Name' }}"/>
            </h1>
            <div>
                AC: {{data.attributes.ac.value}} Flat-Footed: {{data.attributes.ac.flatFooted}} Touch: {{data.attributes.ac.touch}}
            </div>

            {{!-- Ability Scores --}}
            <ul class="ability-scores attributes flexrow">
                {{#each data.abilities as |ability id|}}
                <li class="ability proficient" data-ability="{{id}}">
                    <h4 class="ability-name box-title">{{ localize label}}</h4>
                    <input class="ability-score" name="data.abilities.{{id}}.baseValue" type="number" value="{{ability.baseValue}}" placeholder="10"/>
                    <input class="ability-score" name="data.abilities.{{id}}.value" type="number" value="{{ability.value}}" placeholder="10" disabled="disabled"/>
                    <div class="ability-modifiers flexrow">
                        <span class="ability-mod" title="Modifier">{{numberFormat ability.mod decimals=0 sign=true}}</span>
                    </div>
                </li>
                {{/each}}
            </ul>
        </section>
    </header>


</form>