<form class="flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>

        <section class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'SRD35E.Name' }}"/>
            </h1>
            <div>
                AC: {{data.attributes.ac.value}} Flat-Footed: {{data.attributes.ac.flatFooted}} Touch: {{data.attributes.ac.touch}}
            </div>
        </section>
    </header>

    {{!-- Character Sheet Navigation --}}

    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="attributes">{{ localize 'SRD35E.Attributes' }}</a>
        <a class="item" data-tab="biography">{{ localize 'SRD35E.Biography' }}</a>
    </nav>
    <section class="sheet-body">

        <div class="tab attributes flexrow" data-group="primary" data-tab="attributes">

            {{!-- Ability Scores --}}
            <ul class="ability-scores attributes flexrow">
                {{#each data.abilities as |ability id|}}
                <li class="ability proficient" data-ability="{{id}}">
                    <h4 class="ability-name box-title">{{ localize label}}</h4>
                    <input class="ability-score" name="data.abilities.{{id}}.baseValue" type="number" value="{{ability.baseValue}}" placeholder="10"/>
                    <input class="ability-score" name="data.abilities.{{id}}.value" type="number" value="{{ability.value}}" placeholder="10" disabled="disabled"/>
                    <div class="ability-modifiers flexrow">
                        <span class="ability-mod" title="Modifier">{{numberFormat ability.mod decimals=0 sign=true}}</span>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>

        {{!-- Biography Tab --}}
        <div class="tab" data-group="primary" data-tab="biography">
            <div class="flexcol">
                <div class="item-controls effect-controls flexrow">
                    <a class="effect-control" data-action="create" title="{{localize 'DND5E.EffectCreate'}}">
                        <i class="fas fa-plus"></i> Add
                    </a>
                </div>

                <ol class="item-list">
                    {{#each effects as |effect|}}
                    <li class="item effect flexrow" data-effect-id="{{effect.id}}">
                        <div class="item-name effect-name flexrow">
                            <img class="item-image" src="{{effect.data.icon}}"/>
                            <h4>{{effect.data.label}}</h4>
                        </div>
                        <div class="effect-source">{{effect.sourceName}}</div>
                        <div class="effect-duration">{{effect.duration.label}}</div>
                        <div class="item-controls effect-controls flexrow">
                            <a class="effect-control" data-action="toggle" title="{{localize 'DND5E.EffectToggle'}}">
                                <i class="fas {{#if effect.data.disabled}}fa-check{{else}}fa-times{{/if}}"></i>
                            </a>
                            <a class="effect-control" data-action="edit" title="{{localize 'DND5E.EffectEdit'}}">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="effect-control" data-action="delete" title="{{localize 'DND5E.EffectDelete'}}">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </li>
                    {{/each}}
                </ol>

            </div>
        </div>

    </section>
</form>